{% extends 'navbar.html' %}

{% block title %}

{% endblock title %}

{% block content %}


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Inicio</title>
	<link rel="stylesheet" type="text/css" href="styles">
</head>

<!-- En las "<a>" en las HREF deben colocar el '' del path de urls.py (es decir, el primer termino de la función path) ejemplo: path('',inici2, name="inici2") -->

<body>
<div id="titulo" class="wrapper borde">

	<a href=""><h1 align="center" id="logo">Pelo Malo</h1></a>
	<h2 align="center">Hair Salon</h2>
	<hr>
	

	

	


		
		
	</ul>
</div>

<div id="body">
	<img src="./images/hair.jpeg" alt="hair salon"/>
	<br>
	<img src="" alt="cortes"/>
	<br>
	<img src="" alt="estilista"/>
</div>

<hr>
<div id="Redes" class="ultimafila">
	
	<h2><span>Redes sociales</span></h2>
	<ul>
		<a href="https://www.facebook.com/pages/Pelomalo/643439975804127" target="_blank">
		<li>Facebook</li>
		</a>
		<a href="https://www.instagram.com/" target="_blank">
		<li>Instagram</li>
		</a>
		<br>
		Pelo Malo Hair Salon <br>
		Ubicación: Irrarazabal 3054, Loc. 103-A, Ñuñoa, RM. <br> 
		Correo: pelomalo@gmail.com <br>   
		Teléfono: +56 9 74191276
  
		

	</ul>
	<br>
	<p>Primavera 2019 - Work In Progress</p>
</div>


</body>
</html>
{% endblock content %}