
{% extends 'navbar.html' %}

{% block title %}
Quiénes somos
{% endblock title %}

{% block content %}

<div id="descripcion" class="container">
    <h1>¿Quiénes somos?</h1>

    <form action="#" autocomplete="off">

Hola!, somos Pelo Malo Hair Salon, un salón de belleza y estética ubicado en Irrarazabal 3054, Local 103-A, en la comuna de Ñuñoa, Región Metropolitana.<br>

Iniciamos nuestros servicios el año 2015 y actualmente trabajamos tres estilistas a tiempo completo, ofrecemos diversos servicios de peluquería profesional entre los que destacan corte, tinte, peinado y tratamiento capilar. <br>
Si quieres atenderte en un ambiente cómodo y con cercanía, te esperamos, te haremos sentir como en casa!.

  
  </form>
       
</div>

{% endblock content %}
