{% extends 'navbar.html' %}

{% block title %}
Servicios
{% endblock title %}

{% block content %}

<div id="descripcion" class="container">
    <h1>Servicios</h1>
<h2> Ofrecemos todo lo que tu cabello necesita <h2>

<h6>
<br>
<b>Corte</b>
<br>
Corte mujer: $10.000
<br>
Corte hombre: $8.000
<br><br>
<b>Coloración</b>
<br>
Balayage: $39.990
<br>
Baño de color: $23.990
<br>
Barrido de color: $49.990
<br>
Coloración completa: $27.990
<br>
Mechas: $35.990
<br>
Reflejos: $27.990
<br>
Visos: $37.990
<br><br>
<b>Tratamientos</b>
<br>
Alisado permanente: $35.990
<br>
Botox restaurador: $25.990
<br>
Masaje capilar: $22.990
<br><br>
<b>Peinados</b>
<br>	
Brushing: $9.990
<br>
Peinado:(Desde) $14.990
</h6>

{% endblock content %}